{% extends "admin/base_site.html" %}
{% load i18n unfold %}

{% block breadcrumbs %}
<div class="container mb-6 mx-auto -mt-3 lg:px-16 xl:px-0 px-4">
    {% include "unfold/helpers/breadcrumbs.html" %}
</div>
{% endblock %}

{% block content %}
<div class="lg:px-16 xl:px-0 px-4">
    {% component "unfold/components/card.html" with title="Alle Zeitsteuerungen" %}
        {% component "unfold/components/table.html" with table=table striped=True %}
        {% endcomponent %}
    {% endcomponent %}
</div>
{% endblock %}
