services:
  db:
    image: postgres:16-alpine
    container_name: gc_bridge_4_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  adminer:
    image: adminer:4
    container_name: gc_bridge_4_adminer
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - "8082:8080"

volumes:
  pgdata:
